body{
background-color:violet;
text-align:center;
}
h1{
color:blue;
}
h2{
color:brown;
font-family:arial;
font-style:italic;
}
.one{
background-color:green;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:outset;
border-width:20px;
cursor:pointer;
}
.two{
background-color:red;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:inset;
border-width:20px;
cursor:pointer;
}

.three{
background-color:red;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:inset;
border-width:20px;
cursor:pointer;
}

.four{
background-color:red;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:inset;
border-width:20px;
cursor:pointer;
}

.five{
background-color:red;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:inset;
border-width:20px;
cursor:pointer;
}

.six{
background-color:red;
color:white;
font-weight:bold;
padding:10px;
border-radius:30px;
border-style:inset;
border-width:20px;
cursor:pointer;
}

button .one:hover{
background-color:yello;
}

.seven{
padding:10px;
border-radius:10px;
position:relative;
bottom:100px;
color:red;

}




