body{
text-align:center;
background-color:purple;
}
h1{
font-family: arial;
color:white;
}
h2{
font-style: italic;
color:yellow;
}
.one{
background-color:violet;
font-weight:bold;
border-width:5px;
border-radius:50px;
padding:10px;


}
.two{
background-color:green;
font-weight:bold;
border-width:5px;
border-radius:50px;
padding:10px;

}
.three{
background-color:red;
font-weight:bold;
border-width:5px;
border-radius:50px;
padding:10px;

}

.four{
background-color:orange;
font-weight:bold;
border-width:5px;
border-radius:50px;
padding:10px;

}




